/* .form-main {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
  } */

input:active, input:focus {
  outline: none;
}
input{
    border: 1px solid #5EB4CB;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 300;
    font-size: 18px;
    color: #9C9C9C;
    font-family: inherit;
    padding:13px 25px;
    background: transparent;
    margin-bottom: 20px;  
    width:350px;
    max-width: 100%;    
}

.form{
    display: flex;
    text-align: center;
    justify-content: center; 
}

@media screen and (max-width: 992px) {
    .form{
        display: block;
    }
}
